.banner {
  background-size: cover;
  background-position: center;
  height: 17em;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0% 5% 0% 5%;
  color: white;
  box-shadow: rgb(128, 128, 128, 0.5) 0px 6px 2px -2px;

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  &-title {
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    width: 90%;
    height: 28%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }

  &-text {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

// ? Responsive

@media screen and (min-width: 1502px) {
  .banner {
    // height: 9em;

    &-title {
      font-size: 2.5em;
      height: 25.5%;
    }
  }
}

@media screen and (max-width: 1023px) {
  .banner {
    height: 15em;

    &-title {
      font-size: 2em;
      height: 15%;
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 10em;

    &-title {
      padding: 0% 0% 0% 1%;
      display: flex;
      justify-content: start;
      font-size: 1.5em;
      height: 11.3%;
    }
  }
}
