.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #eaeaea;
  border-radius: 20px;
  margin: 3% 5% 5% 5%;
  padding: 2%;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  color: black;
  margin: 10% 0% 0% 0%;
  &-img {
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 90%;
  }

  &-text {
    border: 1p solid red;
    position: absolute;
    margin: -5% 0% 0% 0%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20%;
    color: white;
  }
}

//? Responsive

@media screen and (max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    .card {
      width: 100%;
      &-img {
        width: 100%;
      }
      &-text {
        margin: -15% 0% 0% 0%;
        width: 60%;
      }
    }
  }
}
