.cards-container {
  color: blue;
  background-color: #eaeaea;
  border-radius: 20px;
  height: auto;
  margin: 0% 5% 5% 5%;
}

.card {
  background-color: red;
  border-radius: 20px;
  color: black;
  height: 5em;
  width: 4em;
}
