.cards-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #eaeaea;
  border-radius: 20px;
  margin: 5% 5% 5% 5%;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 20px;
  color: black;
  margin: 2%;

  &-img {
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  &-text {
    color: #f0f;
  }
}
