.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  margin: auto;

  &-img {
    object-fit: cover;
    width: 90em;
    height: 30em;
    border-radius: 20px;
  }

  &-number {
    background-color: rgb(136, 136, 136, 0.2);
    position: absolute;
    bottom: 1%;
    font-size: 2em;
  }

  &-arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// ? Responsive
@media screen and (min-width: 1550px) {
  .carrousel-img {
    width: 110em;
  }
}

@media screen and (max-width: 768px) {
  .carrousel-img {
    height: 15em;
    width: 19em;
  }
  .carrousel-arrow {
    height: 90%;
    &-leftArrow {
      height: 2em;
    }

    &-rightArrow {
      height: 2em;
    }
  }
}
