.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  margin: auto;

  &-img {
    object-fit: cover;
    width: 100%;
    height: 30em;
    border-radius: 20px;
  }

  &-arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // &-leftArrow {
    //   left: 10px;
    // }

    // &-rightArrow {
    //   right: 10px;
    // }
  }
}

// ? Responsive
@media screen and (max-width: 768px) {
  .carrousel-img {
    height: 20em;
  }
  .carrousel-arrow {
    height: 90%;
    &-leftArrow {
      height: 3em;
    }

    &-rightArrow {
      height: 3em;
    }
  }
}
