.lodging-box {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.collapse-value {
  margin: auto;
  width: 70%;
}

.col {
  margin: 3% auto 0% auto;
  grid-template-columns: 1fr 1fr;
  width: 80%;

  &-box {
    &-button {
      text-align: start;
      font-size: 1em;
      background-color: #ff6060;
      color: white;
      width: 100%;
      height: 3em;
      border-radius: 5px;
      border: none;
    }

    &-title {
      margin-right: 75%;
    }

    &-icon {
      font-size: 1.5em;
    }

    &-text {
      background-color: #fbfbfb;
      width: 100%;
      padding-bottom: 2em;
    }
  }
}

// ? Responsive
@media screen and (max-width: 1023px) {
  .collapse-value {
    margin: auto;
    width: 90%;
  }
  .col {
    width: 100%;
    &-box {
      &-button {
        height: 3em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .collapse-value {
    margin: auto;
    width: 90%;
  }
  .col {
    grid-template-columns: 1fr;
    grid-gap: 10px;

    &-box {
      &-button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: grid;
        height: 2.5em;
        font-size: 1em;
        padding: 0% 5% 0% 5%;
      }
    }
  }
}
