.footer {
  background-color: black;
  text-align: center;
  padding: 1% 0% 1% 0%;

  &-text {
    color: white;
  }
}

// ? Responsive

@media screen and (max-width: 768px) {
  .footer {
    padding: 5% 0% 5% 0%;

    &-text {
      width: 50%;
      margin: auto;
    }
  }
}
