.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0% 5% 0% 5%;
  padding: 2% 0% 2% 0%;

  &-links {
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 2%;
    font-weight: 500;
    font-size: large;
  }

  &-link {
    color: black;
    display: inline-block;
    font-size: 1.3em;
    margin: 0% 0% 2% 0%;
  }
}

.nav-active {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.nav-active:focus {
  text-decoration-line: underline;
}

// ? Responsive

@media screen and (max-width: 1023px) {
  .header-logo {
    width: 60%;
  }
  .header-links {
    display: inline-block;
    font-size: 60%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    &-link {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 773px) {
  .header {
    &-link {
      font-size: 1.5em;
    }
  }
}
