.rental {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 90%;

  &-title {
    color: #ff6060;
  }

  &-place {
    color: black;
  }

  &-tag {
    display: inline-block;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    width: 15%;
  }
  .bbox {
    align-items: end;
  }
  .rental-id {
    display: flex;
    align-items: center;
  }

  &-img {
    object-fit: cover;
    border-radius: 50px;
    width: 10%;
    height: 100%;
  }

  &-name {
    color: #ff6060;
    width: 50%;
  }

  &-stars {
    color: #ff6060;
  }
}

// ? Responsive

@media screen and (max-width: 768px) {
  .rental {
    grid-template-columns: 1fr;
    &-tag {
      width: 35%;
    }

    &-name {
      width: 100%;
    }

    .bbox {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
