.rental {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 90%;
  padding: 1% 0% 0% 0%;

  &-box {
    display: flex;
    flex-direction: column;
  }

  &-title {
    color: #ff6060;
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 2%;
  }

  &-place {
    margin: -3% 0 1% 0;
    color: black;
    font-weight: 600;
  }

  &-tag {
    display: inline-block;
    background-color: #ff6060;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    margin-right: 2%;
    width: 20%;
    padding: 1% 2% 1% 2%;
  }
  .idBox {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .rental-id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &-img {
    object-fit: cover;
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }

  &-name {
    display: flex;
    justify-content: flex-end;
    color: #ff6060;
    width: 25%;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0% 1% 0% 0%;
  }
}

// ? Responsive

@media screen and (max-width: 768px) {
  .rental {
    margin-bottom: -3%;
    grid-template-columns: 1fr;
    &-tags {
      display: flex;
      flex-wrap: wrap;
    }

    &-title {
      font-size: 1.5em;
    }

    &-tag {
      font-size: 65%;
      font-weight: 700;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5% 1% 0.5% 1%;
    }

    &-name {
      display: flex;
      width: 100%;
      font-size: 1em;
      width: 10%;
      padding: 0% 5% 0% 0%;
    }

    &-img {
      width: 2.5em;
      height: 2.5em;
    }

    &-id {
      border: 1px sold red;
      display: flex;
      align-items: center;
    }

    .idBox {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      height: 70%;
    }
  }
}
