.rental {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 90%;

  &-title {
    color: #ff6060;
  }

  &-place {
    color: black;
  }

  &-tag {
    display: inline-block;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    width: 15%;
  }

  &-name {
    color: #ff6060;
  }

  &-stars {
    color: #ff6060;
  }
}

// ? Responsive

@media screen and (max-width: 768px) {
  .rental {
    grid-template-columns: 1fr;
    &-tag {
      width: 35%;
    }
  }

  .bbox {
    flex-direction: row;
  }
}
