@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/footer.scss";
@import "./components/cards.scss";
@import "./components/error.scss";
@import "./components/carrousel.scss";
@import "./components/rentalInfo.scss";
@import "./components/star.scss";
@import "./components/collapsed.scss";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}
